* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}

/* Title Style */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 50px;
    color: rgb(204, 114, 10);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(172, 99, 17);
}

.mainContent {
    border: 2px solid black;
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    border: 2px solid black;
    height: 450px;
    min-width: 200px;
    margin-left: 25px;
}

.canvas {
    border: 2px solid black;
    min-height: 450px;
    min-width: 450px;
    margin: 0 25px;
}

.rightBlock {
    border: none;
    background-color: #f6f6f6;
    height: 450px;
    width: 200px;
    margin-right: 25px;
}