* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}

/* Title Style */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.main {
    height: 550px;
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid;
}

.settings {
    border: 2px solid black;
    height: 500px;
    width: 200px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.grid {
    border: 2px solid black;
    height: 500px;
    min-width: 450px;
    margin-right: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

input#colorPicker {
    border: none;
    height: 80px;
    width: 80px;
    cursor: crosshair;
    padding: 5px 5px;
}

button {
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #dddddd;
}

button:active {
    border: 2px solid #333;
    background-color: #dddddd;
}